{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>pid controller</title>
</head>

<body class="is-family-monospace">


    <div class="title is-size-1 has-text-centered">fermentation tank a</div>
    <div class="title is-subtitle has-text-centered">0 - acid / 14 - base</div>




    <div class="grid pd-large">
        <div class="cell">
            this is a hard coded example of a pid controller where you can change p,d,i,sp in code ;)
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>

        <div class="cell">
            this is an interactive example of a pid controller
            <canvas id="pid_controller" width="400" height="200"></canvas>

            <form class="grid" method="get" action="/update_pid/">
                <div class="field cell">
                    <label class="label">P</label>
                    <div class="control">
                        <input id="P" name="P" class="input" type="number" value="2">
                    </div>
                </div>
                <div class="field cell">
                    <label class="label">D</label>
                    <div class="control">
                        <input id="D" name="D" class="input" type="number" value="0.1">
                    </div>
                </div>
                <div class="field cell">
                    <label class="label">I</label>
                    <div class="control">
                        <input id="I" name="I" class="input" type="number" value="0">
                    </div>
                </div>
                <div class="field cell">
                    <label class="label">setpoint</label>
                    <div class="control">
                        <input id="setpoint" name="setpoint" class="input" type="number" value="300">
                    </div>
                </div>

                <div class="field">
                    <label class="label">.</label>
                    <div class="control">
                        <button class="button is-link">update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>



    <script>

        // this is a hard coded example of a pid controller where you can change p,d,i,sp in code ;)
        const ctx = document.getElementById('myChart');
        let graphData = {
            type: 'line', data: {
                labels: Array.from(Array(100).keys()),
                datasets: [{
                    label: 'setpoint', data: [], fill: false,
                    borderWidth: 2
                }, {
                    label: 'actual', data: [], fill: true,
                    backgroundColor: ['rgba(73, 198, 230, 0.5)',], borderWidth: 2
                }
                ]
            }, options: {
                scales: {
                    y: { max: 320, min: 290, display: true, position: 'left', },
                    y1: { max: 320, min: 290, display: true, position: 'right', }
                }
            }
        };
        var myChart = new Chart(ctx, graphData);

        var socket = new WebSocket('ws://localhost:8000/ws/graph/')
        socket.onmessage = function (e) {
            var djangoData = JSON.parse(e.data);

            var newGraphData = graphData.data.datasets[0].data;
            newGraphData.push(djangoData.ph_setpoint);
            graphData.data.datasets[0].data = newGraphData;

            var ph_actual_data = graphData.data.datasets[1].data;
            ph_actual_data.push(djangoData.ph_actual);
            graphData.data.datasets[1].data = ph_actual_data;

            myChart.update();
        }





        /*
        const do_and_feed_graph = document.getElementById('do_and_feed_chart');
        let do_and_feed_data = {
            type: 'line', data: {
                labels: Array.from(Array(100).keys()), datasets: [{
                    label: 'DO', data: [], fill: true, yAxisID: 'y',
                    backgroundColor: ['rgba(73, 198, 230, 0.5)',], borderWidth: 2
                },
                {
                    label: 'feed', data: [], fill: true, yAxisID: 'y1',
                    backgroundColor: ['rgba(73, 98, 200, 0.5)',], borderWidth: 2
                }]
            }, options: {
                scales: {
                    y: { max: 70, min: 0, display: true, position: 'left', },
                    y1: { display: true, position: 'right', max: 7, min: 0 }
                }
            }
        };
        var myChart_do = new Chart(do_and_feed_graph, do_and_feed_data);
*/
        var socket_do = new WebSocket('ws://localhost:8000/ws/pid/')
        socket_do.onmessage = function (e) {
            var djangoData = JSON.parse(e.data);
            //console.log(djangoData)
            /*
            var newGraphData_do = do_and_feed_data.data.datasets[0].data;
            newGraphData_do.push(djangoData.value);
            do_and_feed_data.data.datasets[0].data = newGraphData_do;
 
            var newGraphData_feed = do_and_feed_data.data.datasets[1].data;
            newGraphData_feed.push(djangoData.feed_value);
            do_and_feed_data.data.datasets[1].data = newGraphData_feed;
 
            do_and_feed_data.data.labels = Array.from(Array(100).keys());
            */
            //myChart_do.update();
        }

        var socket_event = new WebSocket('ws://localhost:8000/ws/event_consumer/')
        socket_event.onmessage = function (e) {
            var djangoData = JSON.parse(e.data);
            console.log(djangoData)
        }


    </script>
</body>

</html>