{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Real Time Graph App</title>
</head>

<body class="is-family-monospace">

    <div class="title is-size-1 has-text-centered">fermentation tank a</div>


    <div class="grid pd-large">
        <div class="cell">

            <div class="grid">


                <div class="card cell">
                    <div class="card-header card-header-title" id="go-first">inputs</div>
                    <div class="card-content">
                        <form action="/update_setpoint/" method="get" class="grid">
                            <div class="cell">
                                <input type="number" id="ph_setpoint" name="ph_setpoint" value="6.00">
                                <label for="ph_setpoint">pH setpoint</label>
                                <input type="number" id="pump_rate" name="pump_rate" value="2.00">
                                <label for="pump_rate">pump speed [l/min]</label>
                            </div>
                            <input type="submit" value="update setpoints" class="cell button is-black">
                        </form>
                    </div>
                </div>

                <div class="card cell">
                    <div class="card-header card-header-title" id="go-first">outputs</div>
                    <div class="card-content">
                        <div class="" , id="hour"></div>
                        <div class="" , id="liter_base_per_hour"></div>
                        <div class="" , id="total_liters_base_added"></div>
                    </div>
                </div>


            </div>


            <canvas id="myChart" width="400" height="200"></canvas>

        </div>



        <div class="cell">
            <div class="card cell">
                <div class="card-header card-header-title" id="go-first">ASSUMPTIONS</div>
                <div class="card-content">
                    1. ASSUMPTION fermentation takes 100 seconds<br>
                    2. ASSUMPTION starting liquid has pH of 6<br>
                    3. ASSUMPTION bacteria during fermentation will produce 10 M of H+ acid<br>
                    4. ASSUMPTION starting volumen is 2000 L<br>
                    5. ASSUMPTION adding 200 L of 10 M NaOH over the process<br>
                </div>
            </div>
            <canvas class="cell" id="do_and_feed_chart" width="400" height="200"></canvas>

        </div>
    </div>




</body>


<script>

    const ctx = document.getElementById('myChart');
    let graphData = {
        type: 'line', data: {
            labels: [], datasets: [
                {
                    label: 'liters of base added per hour', data: [], fill: true, yAxisID: 'y',
                    backgroundColor: ['rgba(73, 198, 230, 0.5)',], borderWidth: 2
                },{
                    label: 'pump speed [l/min]', data: [], fill: true, yAxisID: 'y1',
                    backgroundColor: ['rgba(73, 98, 200, 0.5)',], borderWidth: 2
                }
            ]
        }, options: {
            scales: {
                y: { max: 70, min: 0, display: true, position: 'left', },
                y1: { display: true, position: 'right', max: 7, min: 0 },
            }
        }
    };
    var myChart = new Chart(ctx, graphData);


    var socket = new WebSocket('ws://localhost:8000/ws/graph/')
    socket.onmessage = function (e) {
        var djangoData = JSON.parse(e.data);

        var newGraphData = graphData.data.datasets[0].data;
        newGraphData.push(djangoData.value);
        graphData.data.datasets[0].data = newGraphData;

        var newGraphData_pump_setpoint = graphData.data.datasets[1].data;
        newGraphData_pump_setpoint.push(djangoData.pump_setpoint);
        graphData.data.datasets[1].data = newGraphData_pump_setpoint;

        graphData.data.labels = Array.from(Array(100).keys());

        myChart.update();

        document.getElementById('hour').innerHTML = "hour: " + djangoData.index;
        document.getElementById('liter_base_per_hour').innerHTML = "liters base added / hour: " + djangoData.value;
        document.getElementById('total_liters_base_added').innerHTML = "liters total added: " + djangoData.sum;
    }

    //      //      //
    //      //      //      do and feed graph
    //      //      //      
    const do_and_feed_graph = document.getElementById('do_and_feed_chart');
    let do_and_feed_data = {
        type: 'line',
        data: {
            labels: [], datasets: [{
                label: 'DO', data: [], fill: true, yAxisID: 'y',
                backgroundColor: ['rgba(73, 198, 230, 0.5)',], borderWidth: 2
            }, {
                label: 'feed', data: [], fill: true, yAxisID: 'y1',
                backgroundColor: ['rgba(73, 98, 200, 0.5)',], borderWidth: 2
            }]
        }, options: {
            scales: {
                y: { max: 70, min: 0, display: true, position: 'left', },
                y1: { display: true, position: 'right', max: 7, min: 0 }
            }
        }
    };
    var myChart_do = new Chart(do_and_feed_graph, do_and_feed_data);

    var socket_do = new WebSocket('ws://localhost:8000/ws/do_and_feed/')
    socket_do.onmessage = function (e) {
        var djangoData = JSON.parse(e.data);

        var newGraphData_do = do_and_feed_data.data.datasets[0].data;
        newGraphData_do.push(djangoData.value);
        do_and_feed_data.data.datasets[0].data = newGraphData_do;

        var newGraphData_feed = do_and_feed_data.data.datasets[1].data;
        newGraphData_feed.push(djangoData.feed_value);
        do_and_feed_data.data.datasets[1].data = newGraphData_feed;

        do_and_feed_data.data.labels = Array.from(Array(100).keys());

        myChart_do.update();
    }


</script>






</html>